<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/sprite.css">
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="common/siderBar/index.css">
	<link rel="stylesheet" href="common/header/index.css">
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="lib/js/html5shiv.min.js">
	<script src="https://cdn.bootcss.com/jquery/1.8.3/jquery.js"></script>
	<script src="./js/getCommon.js"></script>
	<title>福建省教育信息统一平台</title>
</head>

<body>
	<!-- 容器star -->
	<div class="wrapper">

		<!-- 顶部导航star -->
		<!-- 顶部导航end -->
		<!-- 主体内容 -->
		<div class="container main clearfix" id="content">
			<!-- 侧栏 -->
			<!-- 右边内容 -->
			<section class="content" id="subContent">
				<!-- 顶部 -->
				<div class="content__top clearfix">
					<div class="content__title font14px fl">我的班级</div>
					<div class="btns fr">
						<a class="button fl" href="index.html">返回上一级</a>
					</div>
				</div>
				<!-- 内容区 -->
				<div class="subContent">
					<div class="search clearfix mgt-30">
						<input class="search__input fl" type="text" placeholder="快捷查找">
						<div class="button search__button fr">
							<span class="search__icon sprite icon_search_white fl"></span>
						</div>
					</div>
					<div class="render"></div>
				</div>
		</div>
		</section>
		</d>
	</div>
	<!-- 容器end -->

	<script src="lib/js/template-web.js"></script>
	<script src="js/class.js"></script>
	<script id="class_content" type="text/html">
		<div class="class_title font20px col-333 fw-bold">
			{{data.className}}
		</div>
		<div class="class__content">
			<ul class="kindTab clearfix font14px col-666">
				<li class="kindTab__item fl {{type==='teacher'?'kindTab__item--current':''}}" data-flag="teacher">所有老师({{data.teacher_count}})</li>
				<li class="kindTab__item fl {{type==='student'?'kindTab__item--current':''}}" data-flag="student">所有学生({{data.student_count}})</li>
				<li class="kindTab__item fl {{type==='parent'?'kindTab__item--current':''}}" data-flag="parent">所有家长({{data.parent_count}})</li>
			</ul>
			<ul class="kind__list">
				{{include 'card' data}}
			</ul>
		</div>
	</script>
	<script id="card" type="text/html">
		{{if !list.length}}
			<li>
				<img class="none__img" src="./images/null.png" alt="没有数据的图片">
			</li>
		{{/if}}
		{{if list.length}}
			{{each list}}
				<li class="kindCard card">
					<div class="tag__list">
						<img class="king__avatar" src="./images/bg.png" alt="头像">
						{{if $value.function.length <= 1}}
							<ul class="mainTag__list clearfix">
								{{each $value.function}}
									<li class="mainTag__item font12px">{{$value}}</li>
								{{/each}}
								{{if $value.head_teacher}}
									<li class="mainTag__item font12px bgc-fa4b5b">班主任</li>
								{{/if}}
								{{if $value.manager}}
									<li class="mainTag__item font12px bgc-f96543">管理员</li>
								{{/if}}
							</ul>
						{{/if}}
						{{if $value.function.length > 1}}
							<ul class="function__list clearfix">
								{{if $value.head_teacher}}
									<li class="function__tag font12px bgc-fa4b5b fl">班主任</li>
								{{/if}}
								{{if $value.manager}}
									<li class="function__tag font12px bgc-f96543 fl">管理员</li>
								{{/if}}
								{{each $value.function}}
									<li class="function__tag font12px fl">{{$value}}</li>
								{{/each}}
							</ul>
						{{/if}}
					</div>
					<div class="16px col-333 fw-bold ta-center lineheight35px">{{$value.name[0]}}</div>
				</li>
			{{/each}}
		{{/if}}
	</script>
</body>

</html>
